.header{
    background-color: grey;
    padding: 30px 0;
  
    width: 100%;
    
    color: white;
    z-index: 103;
   
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.right-header ul{
    display: flex;
    gap: 25px;
    font-size: 18px;
}
.left-header p{
    border: 1px solid white;
   
    font-size: 18px;
}